@use "sass:color";
@use "variables" as v;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: v.$font-main;
  font-size: 16px;
  line-height: 1.5;
  color: v.$color-graphite;
  background-color: v.$color-milky;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: v.$font-headings;
  margin-bottom: 1rem;
  color: v.$color-graphite;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

p {
  margin-bottom: 1rem;
}

a {
  color: v.$color-graphite;
  text-decoration: underline;

  &:hover {
    color: color.adjust(v.$color-graphite, $lightness: -10%);
  }
}

.container {
  max-width: v.$container-width;
  margin: 0 auto;
  padding: 0 v.$gutter;
}

.text-center {
  text-align: center;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.mb-3 {
  margin-bottom: 1.5rem;
}

.mb-4 {
  margin-bottom: 2rem;
}
