@use "../../../styles/variables" as *;
@use "../../../styles/base" as base;

.project-card {
  display: flex;
  flex-direction: column;
  background-color: $color-off-white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: $box-shadow-light;
  transition: $transition-default;
  height: 450px;
  width: 300px;

  &:hover {
    box-shadow: $box-shadow-medium;
    transform: translateY(-5px);

    .project-card__image {
      transform: scale(1.05);
    }
  }

  &__image-container {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
  }

  &__title {
    padding: 1rem;
    font-family: $font-headings;
    font-size: 1.25rem;
    color: $color-dark-blue;
    margin: 0;
    flex-grow: 1;
    height: 35px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &__button {
    display: inline-block;
    margin: 0 1rem 1rem;
    padding: 0.75rem 1.5rem;
    background-color: $color-medium-gray;
    color: $color-off-white;
    text-decoration: none;
    border-radius: 4px;
    font-weight: 500;
    text-align: center;
    transition: background-color 0.3s ease;
    width: calc(100% - 5rem);

    &:hover {
      background-color: $color-accent;
    }
  }

  @media (max-width: $breakpoint-tablet) {
    width: 280px;
    height: 330px;

    &__image-container {
      height: 180px;
    }

    &__title {
      font-size: 1.1rem;
      height: 70px;
    }
  }

  @media (max-width: $breakpoint-mobile) {
    width: 100%;
    height: 320px;

    &__image-container {
      height: 180px;
    }

    &__title {
      height: 60px;
    }
  }
}
